# newsflash.toml : example configuration for newsflash

# Copy this file to $XDG_CONFIG_HOME/newsflash.toml
# (usually ~/.config/newsflash.toml) and adjust as needed.
# Configuration changes are hot-reloaded

# selector : any number of space-separated device names
# the names are matched against entries in /sys/class/leds/
# supports * wildcards. Here, we try to get every keyboard :
[*keyboard* *kbd*]

# Total duration of the flashing sequence, in seconds.
duration = 1.0

# Number of up-down brightness cycles in a flashing sequence
cycles = 2

# Changes per second for the animation.
# Higher values might lead to sluggishness if your hardware is slow to respond.
animation_hz = 30
